<%
  def show_header_and_footer?
    !current_page?(root_path) && !controller_name in ["sessions", "registrations"]
  end
%>

<!DOCTYPE html>
<html>
<head>
   <title>
     <%# 動的なページタイトル構築 : https://note.com/hbkk/n/n9d1069911e19%>
     <%= page_title(yield(:title)) %>
   </title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

  <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  <link href="https://use.fontawesome.com/releases/v6.2.0/css/all.css" rel="stylesheet">

  <%= javascript_importmap_tags %>
</head>

<body>

<% if show_header_and_footer? %>
  <header>
    <%= render "layouts/header" %>
  </header>
<% end %>

<main class="<%= 'container mx-auto mt-28 px-5 flex' if show_header_and_footer? %>">
  <%= yield %>
</main>

<% if show_header_and_footer? %>
  <header>
    <%= render "layouts/footer" %>
  </header>
<% end %>

<% if @alerts.present? %>
  <div class="fixed bottom-0 left-0 w-full flex justify-center">
    <% @alerts.each do |alert| %>
      <%= render partial: "components/toast/warning", :locals => {
        message: alert,
      } %>
    <% end %>
  </div>
<% end %>
</body>
</html>
